body {
  background-color: whitesmoke; 700;
  max-width: 600;
};

div { 
  display: flexbox;
  box-shadow: rgb(83, 132, 180);
  flex-wrap: wrap;
  justify-content: space-between;
  border-width: 20px;
  margin-block: 30px;
}

.card {
  display: flexbox;
  box-shadow: rgb(240, 230, 230);
  flex-wrap: wrap;
  justify-content: space-between;
  border: 10px dotted #333;
  border-radius: 5px;
  width: 200px;
  height: 600px;
  margin: 40px;
  float: left;
  background-color:antiquewhite;
  border-style: groove;
  border-color: seashell;
  text-align: center;
}


li {
  text-align: left;
  font-size: normal;
}

h2 {
  background-color: rgb(240, 230, 230);
  text-emphasis: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
}
.card header {
  text-align: center;
  background-color: silver;
}
.card img {
  border-radius: 5px;
  height: 200px;
  width: 200px;
  box-shadow: yellowgreen;
}

header {
  font-size: small;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding: .5px:

}

h3 {
  font-weight: 700;
  font-size: large;
}

p {
  text-align: center;
  height: 15px;
}
