html {
  max-width: 700px;
}
body {
  background-color: whitesmoke; 700;
  max-width: 600;
};

div { 
  display: flex;
  box-shadow: rgb(83, 132, 180);
  flex-wrap: wrap;
  justify-content: space-between;
  border-width: 20px;
  margin-block: 30px;
}


h1 {
flex-direction: row;
text-emphasis: bold;
font-size: xx-large;
font-weight: 800;
;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
  display: inline-block;
  box-shadow: rgb(240, 230, 230);
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 5px;
  width: 200px;
  height: 525px;
  margin: 40px;
  float: left;
  background-color:antiquewhite;
  border-style: groove;
  border-color: lightblue;
  text-align: center;
}

li {
  text-align: left;
  font-size: normal;
  font-size: small;
}

h2 {
  background-color: rgb(240, 230, 230);
  text-emphasis: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  border: 20px;
  border-color: lightblue;
}

.card header {
  text-align: center;
  background-color: silver;
  margin: 2px;
  padding: 1px;
}
.card img {
  height: 200px;
  width: 200px;
}

header {
  font-size: small;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px;
  border: lightblue;
}

.card h3 {
  font-weight: 700;
  font-size: large;
  background-color: darkgray ;
  color: yellow;
  width: 100%;
}

.card p {
  display: flex;
  text-align: center;
  height: 35px;
  justify-content: center;
}

footer {
  padding: .5px;
  font-size: x-small;
}
